[submodule "cookbooks/dmg"]
  path = cookbooks/dmg
  url = git@github.com:opscode-cookbooks/dmg.git
[submodule "cookbooks/mac_os_x"]
  path = cookbooks/mac_os_x
  url = git@github.com:jtimberman/mac_os_x-cookbook.git
[submodule "cookbooks/homebrew"]
  path = cookbooks/homebrew
  url = git@github.com:opscode-cookbooks/homebrew.git
[submodule "cookbooks/labit"]
  path = cookbooks/labit
  url = git@github.com:TakatoshiMaeda/labit.git
[submodule "cookbooks/mine"]
  path = cookbooks/mine
  url = git@github.com:TakatoshiMaeda/mine.git
[submodule "cookbooks/macapps"]
  path = cookbooks/macapps
  url = git@github.com:TakatoshiMaeda/macapps.git
[submodule "cookbooks/library"]
  path = cookbooks/library
  url = git@github.com:TakatoshiMaeda/library.git
