[submodule "cookbooks/dmg"]
  path = cookbooks/dmg
  url = git@github.com:opscode-cookbooks/dmg.git
[submodule "cookbooks/mac_os_x"]
  path = cookbooks/mac_os_x
  url = git@github.com:jtimberman/mac_os_x-cookbook.git
[submodule "cookbooks/homebrew"]
  path = cookbooks/homebrew
  url = git@github.com:opscode-cookbooks/homebrew.git
[submodule "cookbooks/labit"]
	path = cookbooks/labit
	url = git@github.com:TakatoshiMaeda/labit.git
